@import "tailwindcss";

@theme {
  --color-cream: #F4F1DE;
  --color-terracotta: #E07A5F;
  --color-dark-blue: #3D405B;
  --color-sage: #81B29A;
  --color-sand: #F2CC8F;

  --color-muted-cream: #E1DECE;
  --color-muted-terracotta: #A07E75;
  --color-muted-dark-blue: #7E8092;
  --color-muted-sage: #80968B;
  --color-muted-sand: #CCB38A;
}

:root {
  --background: #13141F;
  --foreground: #F4F1DE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.bg-grid-pattern {
  background-size: 24px 24px;
  background-image: linear-gradient(to right, rgba(242, 204, 143, 0.1) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(242, 204, 143, 0.1) 1px, transparent 1px);
}


